<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Log Files</ion-title>
        <ion-buttons end>
			<!-- Button to reload the log files.  Example of how to bind to a click -->
        	<button ion-button icon-only (click)="requestLogFiles()">
        		<ion-icon name="refresh"></ion-icon>
        	</button>

        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

	<ion-searchbar (ionInput)="handleSearch($event)"></ion-searchbar>

	<ion-list *ngIf="rows.length">

		<ion-item *ngFor="let file of rows">

			<ion-grid no-padding>

				<ion-row>
					<ion-col col-6 text-left>{{ file.raw_name }}</ion-col>
					<ion-col col-6 text-center>{{ file.size_display }}</ion-col>
				</ion-row>

			</ion-grid>

			<a ion-button item-right download [href]="file.download_path">
				<ion-icon name="download"></ion-icon>
			</a>

		</ion-item>

	</ion-list>

	<!-- Show when no log files are found and not the initial load -->
	<ion-card *ngIf="!rows.length && !initialLoad && !errorFetching">

		<ion-card-header>
			<h2>
				<b>No Files</b>
			</h2>
		</ion-card-header>

		<ion-card-content>
			<p>No log files were found</p>
		</ion-card-content>

	</ion-card>

	<!-- Show when there are no rows, its not the first load, and an error occurred -->
	<ion-card *ngIf="!rows.length && !initialLoad && errorFetching">

		<ion-card-header>
			<h2>
				<b>Error</b>
			</h2>
		</ion-card-header>

		<ion-card-content>
			<p>An error occurred getting the log files</p>
		</ion-card-content>

	</ion-card>

</ion-content>
